<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Orelhão</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    
  </head>
  <body>
    <h1>Me liga, me manda um telegrama</h1>
    <!-- <p><small>Criado<a href="https://addpipe.com" target="_blank">Pipe Video Recording Platform</a></small></p> -->
    <!-- <p>This demo uses <a href="https://github.com/mattdiamond/Recorderjs" target="_blank">Recorder.js</a> to record wav/PCM audio directly in the browser. Matt Diamond‘s <a target="_blank" href="https://github.com/mattdiamond/Recorderjs">Recorder.js</a> is a popular JavaScript library for recording audio in the browser as uncompressed pcm audio in .wav containers. Before it, the only way to record audio was to use Flash.</p> -->
    <p>Clique no botão abaixo e diga seu nome e a cidade de que está falando...</p>
    <div id="controls">
  	 <button id="recordButton">Gravar</button>
  	 <button id="pauseButton" disabled>Pausar</button>
  	 <button id="stopButton" disabled>Finalizar gravação</button>
    </div>
    <div id="formats">Seu audio não pode passar de 1MB (por enquanto)</div>
  	<p><strong>Gravações:<strong></p>
  	<ol id="recordingsList"></ol>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
  	<script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
  	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>